<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579578405776-kgq1achat0da2ns1eq2gth3gtn5n38v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579578405776-kgq1achat0da2ns1eq2gth3gtn5n38v7</string>
	<key>API_KEY</key>
	<string>AIzaSyCUeBehEbeLmmwxkPbErKZrRlb2dsnLPfs</string>
	<key>GCM_SENDER_ID</key>
	<string>579578405776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shino.swift-storageTest</string>
	<key>PROJECT_ID</key>
	<string>storagepractice-4cb36</string>
	<key>STORAGE_BUCKET</key>
	<string>storagepractice-4cb36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579578405776:ios:74f0ec72c132b429d78915</string>
	<key>DATABASE_URL</key>
	<string>https://storagepractice-4cb36.firebaseio.com</string>
</dict>
</plist>